.header {
  position: sticky;
  top: 0px;
  background-color: #4A4E69;
  color: #FBF9FF;
  height: 20%;
  z-index: 3;
  width: 100%;
  height: 100px;
  overflow: hidden;
}

#home-title {
  font-size: 42px;
  font-weight: bold;
  position: relative;
  min-width: 700px;
  top: 30%;
  margin-top: 0%;
  left: 3%;
}

.loggedin {
  margin-top: 45px;
  min-width: 475px;
}

#logout-button {
  margin-left: 5px;
  padding: 0px;
}

.colorPicker {
  width: 75%;
  border-radius: 5px;
  position: relative;
  bottom: 2.5vh;
}

#styles-header {
  padding: 5%;
  text-decoration: underline;
}

.sidebar {
  position: absolute;
  top: 0px;
  margin-top: 100px;
  background-color: #9395D3;
  color: #FBF9FF;
  border-bottom-right-radius: 15px;
  width: 20%;
  height: 90 vh;
  text-align: center;
  z-index: 2;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.entries {
  width: 75%;
  position: sticky;
  height: 100%;
  margin-top: 2%;
  margin-left: 25%;
  color: #FBF9FF;
  overflow-x: hidden;
}

#text-size {
  position: relative;
  margin-left: 0vw;
  margin-top: 5vh;
}

.fontButton {
  border: solid;
  margin-top: 3px;
  width: 75%;
  max-height: 40px;
  margin-left: 5%;
  border-radius: 10% / 25%;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  white-space: pre-wrap !important;
}

#page {
  background-color: rgb(255, 255, 255);
}

.loggedin {
  position: relative;
  text-align: right;
  bottom: 15%;
}

#card {
  min-width: 20vw;
  max-width: 60vw;
  min-height: 30vh;
  border-radius: 20px;
  border: 3px solid;
  border-color: 'black';
  margin-bottom: 3vh;
}

#text {
  display: center;
}

#content {
  min-width: 98%;
  border-color: white;
  min-height: 15vh;
  text-align: left;
}

button {
  margin-right: 20px;
}

textarea {
  resize: none;
  font-family: Arial;
  color: #333;
  width: 90%;
  max-width: 90%;
  height: 30%;
}