<html id="page">
<header class="header">
    <h1 id="home-title">Knight Time Journal</h1>
</header>

<div class="sidebar">
    <h2 id="styles-header">Styles:</h2>
    <h3 class="style-options">Background Color:</h3>
    <input class="colorPicker" [(colorPicker)]="bgColor" [style.background]="bgColor"
        (colorPickerChange)="setColor()" />
    <h3 class="style-options">Text Color:</h3>
    <input class="colorPicker" [(colorPicker)]="activeText" [style.background]="activeText"
        (colorPickerChange)="setTextColor()" />
    <h3 class="style-options">Text Font:</h3>
    <div class="fontButtons">
        <button mat-flat-button class="fontButton">Times New Roman</button>

        <button mat-flat-button class="fontButton">Arial</button>

        <button mat-flat-button class="fontButton">Sans Serif</button>
    </div>
    <div id="text-size">
        <h3 class="style-options">Text Size:</h3>
        <mat-slider id="text-slider" min="12" max="32" step="1" value="1" thumbLabel></mat-slider>
    </div>
</div>
<div class="entries">


    <app-active-entry></app-active-entry>
    <div *ngFor="let obj of FirestoreRec">
        <app-past-entries pastEntry={{obj.content}} entryTitle={{obj.title}}></app-past-entries>
    </div>

</div>
<button (click)="logOut()">log out</button>
</html>
