<mat-card id="card" [ngStyle]="{'background-color': backColor}">
    <mat-card-header>
        <mat-card-title id="text" [ngStyle]="{'color': fontColor, 'font-family': fontType, 'font-size': textSize}">
            {{entryTitle}}
        </mat-card-title>
    </mat-card-header>
    <hr class="linecolor">
    <div id="entryArea">
        <mat-card-content id="center" [ngStyle]="{'color': fontColor, 'font-family': fontType, 'font-size': textSize}">
            {{pastEntry}}
        </mat-card-content>
    </div>
</mat-card>