#card {
    min-width: 20vw;
    max-width: 60vw;
    min-height: 30vh;
    max-height: 50vh;
    border-radius: 20px;
    border: 3px solid;
    border-color: 'black';
    margin-bottom: 3vh;
    overflow-y: hidden;
}

#text {
    display: center;
}

textarea {
    resize: none;
    font-family: Arial;
    color: #333;
    width: 90%;
    max-width: 90%;
    height: 30%;
}


#content {
    min-width: 98%;
    border-color: white;
    min-height: 15vh;
    text-align: left;
}

#delete {
    position: absolute;
    right: 2%;
    bottom: 5%;
}

textarea {
    resize: none;
    font-family: Arial;
    color: #333;
    min-width: 98%;
    height: 30%;
}

#entryArea {
    margin-top: 2vh;
    height: 20vh;
    margin-bottom: 1vh;
    width: 55vw;

    margin-bottom: 1.5%;




}

.linecolor {
    color: black;
}