<div class="placement">
  <div class="centered">
    <!-- KTJ Logo & Title -->
    <img alt="image" class="image" src="assets/images/Knight Time Journal Icon.png" />
    <div>
      <h1 class="login-title">Welcome to Knight Time Journal</h1>
    </div>
    <!-- Email login area -->
    <input class="input" placeholder="Email" [(ngModel)]="user.email" />
    <br />
    <!-- Password login area -->
    <input type="password" class="input form-control" placeholder="Password" [(ngModel)]="user.password" />

    <!-- link to navigate to resetPass page -->
    <div><a id="forgot-pass" (click)="resetPass()">Forgot your password?</a></div>

    <!-- Login Button -->
    <button mat-raised-button class="top" (click)="onSubmit()">Login</button>

    <!-- Register prompt & button -->
    <div>New User?</div>
    <button mat-raised-button class="bottom" (click)="registerBtn()">Register</button>

  </div>
</div>