<div class="placement">
  <div class="centered">
    <img
      alt="image"
      class="image"
      src="assets/images/Knight Time Journal Icon.png"
    />
    <div>
      <h1 class="login-title">Welcome to Knight Time Journal</h1>
    </div>
    <input class="input" placeholder="Email" [(ngModel)]="user.email" />
    <br />
    <input class="input" placeholder="Password" [(ngModel)]="user.password" />
    <div>Forgot your password?</div>
    <button mat-raised-button class="top" (click)="onSubmit()">Login</button>
    <div>New User?</div>
    <button mat-raised-button class="bottom" (click)="registerBtn()">
      Register
    </button>
  </div>
</div>
