/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button.top {
  width: 46%;
  margin: 2vh;
  color: #f0fff3;
  background-color: #838bfa;
}

.mat-raised-button.bottom {
  width: 46%;
  margin: 1vh;
  color: #f0fff3;
  background-color: #b3b7ee;
}

.mat-button-wrapper {
  max-width: 100%;
  word-break: break-all;
  overflow: hidden;
}

.mat-flat-button {
  width: 80%;
  border-width: 5px;
  text-align: center;
  position: relative;
  white-space: pre-wrap !important;
  overflow-x: hidden !important;
}

#text-slider {
  position: relative;
  bottom: 2vh;
  min-width: 50%;
  margin-bottom: 30%;
}

#save {
  position: absolute;
  right: 2%;
  bottom: 5%;
}

.back {
  text-align: center;
  display: block;
  width: 46%;
  color: #f0fff3;
  background-color: #b3b7ee;
}

hr {
  border: 2.5px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 5px;
}