<div class="placement">
  <div class="centered">
    <img alt="image" class="image" src="assets/images/Knight Time Journal Icon.png" />
    <div>
      Enter the email address associated with your account and we'll send you a link to reset your password.
    </div>
    <input class="input" placeholder="Email" [(ngModel)]="user.email" />
    <br />
    <button mat-raised-button class="top" (click)="resetPassword()">Continue</button>
    <div>
      Don't have an account? <a id="sign-up" (click)="registerBtn()">Sign up</a>
    </div>
  </div>
</div>