.placement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image{
    max-width: 15vw;
    min-width: 80px;
}
.register-title{
    font-size: 5vh;
}    

.input{
    max-width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

